.unidad{
    /* background-color: rgb(209, 88, 240); */
        /* background-image: url('../imagenes/pared.jpg'); */
       /* background:linear-gradient(to left,white,rgb(15, 128, 148),white);*/
       background: transparent;
        border-radius: 5px;
        /* border-style:hidden 4; */
        border-width: 5px;
        /* opacity: 90%;  */
        display: flex;
        height: 200px;
        width: 150px;
       /* width: 200px;
        height:200px;*/
        flex-direction:column-reverse;
        margin: 40px;
        text-align: center;
        justify-content: center; 
        align-items: center;
        box-shadow: 5px 5px rgb(58, 56, 29); 
        /* box-decoration-break:10px 10px clone;*/
     
}
.pokemon{
   
    display: flex;
    flex-direction:row;
    
    
  
    
    
}

.textocard{
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;
    
}