.inputs{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    font-family: monospace;
    font-size: medium;
    font-weight: bolder;
    margin: 30px;
}
.btn{
    border-radius: 5px;
    font-family: monospace;
    font-size: medium;
    background: linear-gradient(to left,white,rgb(81, 94, 94),white);
    padding: 5px;
    margin: 5px;
    font-weight: bolder;
}

