.unidad{
    /* background-color: rgb(209, 88, 240); */
        /* background-image: url('../imagenes/pared.jpg'); */
        background:linear-gradient(to left,black,white);
        border-radius: 15px;
        /* border-style:hidden 4; */
        border-width: 10px;
        /* opacity: 90%;  */
        display: flex;
        width: 300px;
        height:500px;
        flex-direction:column-reverse;
        margin: 40px;
        text-align: center;
        justify-content: center; 
        align-items: center;
        box-shadow: 5px 5px rgb(58, 56, 29); 
        /* box-decoration-break:10px 10px clone;*/
     
}
.banderasConBoton{
    
    width: 250px;
    border-radius: 10px;
    
    
}

.textocard{
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;
    
}