
.vista{
   
    
    font-family: monospace;
    font-size: larger;
    font-style: oblique;
    font-weight: bold;
    justify-content: space-around 5px;
    justify-items: center;
    
}
.boxDesplegable{
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    border-radius: 10px;
    background:linear-gradient(to left,white,rgb(81, 94, 94),white);
    text-shadow:0.2px 0.2px rgb(1, 18, 32);
}